*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#f8e1f4;
    font-family: Arial, sans-serif;
}

.container
{
    background-color: #b787cc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(23, 10, 10);
    width: 350px;
}
h2
{
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
}
.form
{
    display: flex;
    flex-direction: column;
}
.form label
{
    margin-bottom: 5px;
    font-weight: bold;
    color: #00050a;
}
.input
{
    background-color: #e7c7e6;
    border: none;
    border-radius: 4px;
    

}
select 
{
    background-color: #e7c7e6;
    border: none;
    border-radius: 4px;
}

.btn
{
    text-align: center;
    background-color: #ab41d8;
   color: #000000;
   font-weight: bold;
   width: 100%;
   height: 25px;
   font-size: 20px;
    cursor: pointer;
    border : none;
    border-radius: 25px;

}
.btn:hover
{
    background-color: #5d3984;
}